<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.drive.mapper.TitleMapper">

    <resultMap id="BaseResultMap" type="com.example.drive.entity.Title">
        <result column="title_id" jdbcType="INTEGER" property="titleId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <select id="selectAllTitle" resultMap="BaseResultMap">
        SELECT * FROM title t;
    </select>

    <select id="getTitleLimit" resultMap="BaseResultMap">
        SELECT * FROM title LIMIT #{size} OFFSET #{begin};
    </select>

    <select id="getTitleById" resultMap="BaseResultMap">
        SELECT * FROM title WHERE title_id = #{id};
    </select>
</mapper>
